@{
    ViewBag.Title = "About";
}

<link href="https://fonts.googleapis.com/css?family=Montserrat:400i,900" rel="stylesheet">

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
