@{
    ViewBag.Title = "Home Page";
}

<link href="https://fonts.googleapis.com/css?family=Montserrat:400i,900" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="w3-container w3-display-middle">
    <h1 class="w3-animate-fading">
        <a style=color:#785ff4>SENG </a><a style=color:#1185f9>401 </a><a style=color:#3ae2fc>Project</a> Home Page
    </h1>
    <p>
        Call It Local is a project created by the students
        of SENG 401 - Software Architecture at the University of Calgary.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<style>
    h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }

    p3 {
        position: absolute;
        bottom: 100px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }
    u1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }
</style>

