<!--
    This is the html page that opens when a user navigates
    to the create an account page
-->

<script type="text/javascript" src="~/Scripts/Authentication/AuthenticationFunctions.js"></script>


<!-- The remainder of this file is to be completed by students in milestone 2 -->

<link href="https://fonts.googleapis.com/css?family=Montserrat:400i,900" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container w3-display-middle">
    <h1 class="w3-animate-left">
        <a style=color:#785ff4>Create </a><a style=color:#1185f9>An </a><a style=color:#3ae2fc>Account</a>
    </h1>
    <p id="hi">
    </p>
    <form method="post">
        <div class="container" style="text-align:center;">
            <text>Username:<br /></text>
            <input type="text" name="uname" required><br />

            <text>Password:<br /></text>
            <input type="password" name="psw" required><br />

            <text>Address:<br /></text>
            <input type="text" name="addr" required><br />

            <text>Email:<br /></text>
            <input type="email" name="email" required>

            <text>Phone Number:<br /></text>
            <input type="tel" name="pnum" required>

            <text>Account Type:</text>
            <input type="radio" name="atype" value="user">User<br />
            <input type="radio" name="atype" value="business">Business<br />
            <input type="radio" name="atype" value="notspecified">Other

            <input type="submit" value="create" name="create"/>

        </div>
    </form>

    @*<script>
        function parse()
        {
            var nameIn = document.getElementById("uname");
            @ViewBag.Result = nameIn;
        }
    </script>*@
</div>

