<!--
    This is the html page that opens when a user navigates or is redirected
    to the log in page
-->

<script type="text/javascript" src="~/Scripts/Authentication/AuthenticationFunctions.js"></script>

<!-- The remainder of this file is to be completed by students in milestone 2 -->


@*@{
    var response = ViewData["response"];
}*@


<link href="https://fonts.googleapis.com/css?family=Montserrat:400i,900" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container w3-display-middle">
    <h1 class="w3-animate-left">
        <a style=color:#785ff4>Call </a><a style=color:#1185f9>it </a><a style=color:#3ae2fc>Local</a> Login Page
    </h1>
    @using (Html.BeginForm("Login", "Authentication", FormMethod.Post,
        new { id = "loginForm", onsubmit = "return validateLoginForm()" }))
    {
    <div class="container" style="text-align:center;">
        @Html.TextBox("usernameData")
        @Html.TextBox("passwordData")
        
    </div>
    <div style="text-align:center;">
        <input type="submit" value="Login" />
        <a href="/Authentication/CreateAccount"><button type="button" class="createbtn">Create New Account</button></a>
    </div>
    }

    @*<p>
        Login Message:
        <br \ />
        @response
    </p>*@
</div>

<style>

    form {
        font-family: 'Montserrat', sans-serif;
        margin: 0 auto;
    }

    input, textarea {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
        width: 700px;
        height: 40px;
    }

        input:focus, textarea:focus {
            border-color: aquamarine;
        }

        /* Full-width inputs */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

    /* Set a style for all buttons */
    button {
        float: none;
        background-color: #785ff4;
        color: white;
        padding: 10px 15px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 200px;
    }

        /* Add a hover effect for buttons */
        button:hover {
            opacity: 0.8;
        }

    /* Extra style for the cancel button (red) */
    .createbtn {
        width: 200px;
        padding: 10px 15px;
        background-color: #1185f9;
    }

    /* Add padding to containers */
    .container {
        padding: 16px;
    }

    /* The "Forgot password" text */
    span.psw {
        float: right;
        padding-top: 16px;
    }

    a:hover {
        color: #634cf7;
        background-color: transparent;
        text-decoration: none;
    }

    h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    p2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }

    p3 {
        position: absolute;
        bottom: 100px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }
</style>

<script>
    gotoCreateAccount(){
        return View("CreateAccount");
    }
</script>